@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Squada+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
    height: 100%;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://i.imgur.com/o8A4Y8U.jpg") center no-repeat;
	background-size: cover; 
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
  font-size: 80px;
  font-family: "Squada One", cursive;
  text-shadow: 0px 3px 8px #21cce1;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px black;
}

.nav, .nav-tabs, .tab-content{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
}

.nav {
  margin-top: 5rem;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-family: 'Squada One', cursive;
}

.nav-item {
    color: #21cce1;
}

.tab-content {
  height: auto;
  border: 2px solid #fff;
  line-height: 2.5;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: rgba(255,255,255,0.8);
  text-align: center;
  padding: 5rem;
  margin-bottom: 10rem;
  background-color: rgba(0,0,0,0.5);
}

#intro > p {
  text-align: center;
}

#intro h4 {
  margin-bottom: 2.5rem;
}

.tab-images, img {
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 300px;
  height: auto;
  list-style: none;
}

.terms {
  margin: 5rem 2rem 2rem 5rem;
}

.terms h4 {
    margin-bottom: 2.5rem;
}

.terms strong, p {
    text-align: left;
}
.terms strong {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid;
}

.terms p {
  font-size: 1rem;
  letter-spacing: 3px;
}

/************************** FUN FACTS ******************************/

.list-facts {
  list-style: none;
  text-align: center;
  margin: 0 2rem 2rem 2rem;
}

#facts {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

#facts > h4 {
  margin-bottom: 2rem;
}

#fact, #fact > i {
  padding: 1.5rem;
}

#fact > i {
  font-size: 1.5rem;
}

#fact > strong {
  font-size: 1.25rem;
  font-weight: 400;
}

#caption {
  text-align: center;
}

#dog, #car, #spacex {
  transition: transform 0.1s ease;
}

#dog:hover, #car:hover, #spacex:hover {
  cursor: pointer;
  transform: scale(2.5);
}

#dog, #car {
  display: flex;
  justify-content: flex-start;
  width: 250px;
  height: auto;
}

#spacex {
  width: 350px;
  height: auto;
  display: flex;
  justify-content: flex-start;
}


/********************************* HYPOTHESIS ************************************/
#hypothesis > h4 {
  margin: 2rem;
}

#hypothesis > p {
  text-align: center;
  margin: 0 7rem 5rem 7rem;
}

.outcomes {
  text-align: center;
  list-style: none;
}

#o {
  margin: 0 5rem 0 5rem;
}

#o i {
  font-size: 1.5rem;
  padding: 2rem;
}

/********************************* PROCEDURE **********************************************/

#procedure > h4 {
  margin-bottom: 2rem;
}

.steps {
  margin: 0 5rem 0 5rem;
  list-style: none;
}

#step {
  padding-bottom: 1.5rem;
}

/********************************* MATERIALS ****************************************/
#materials > h4 {
  margin-bottom: 2rem;
}
.mat-list {
  text-align: center;
  margin: 0 5rem 0 5rem;
  list-style: none;
}

#materials .fas {
  font-size: 1.5rem;
  padding: 2rem;
}

#materials li {
   cursor: pointer;
  transition: transform .3s ease;
}

#materials li:hover {
  transform: scale(1.1);
}

/********************************** CONCLUSION ********************************************/

#conclusion > h4 {
  margin-bottom: 2rem;
}

#conclusion > p {
  text-align: center;
  line-height: 1.5;
  margin: 3rem 7rem 3rem 7rem;
}

#iframe {
  margin-top: 5rem;
}

/************************************************** MEDIA QUERIES ***********************************************************/
@media screen and (max-width: 640px) {
  h1 {
    font-size: 48px;
    flex-wrap: wrap;
  }

  .nav, .nav-tabs, .tab-content{
    width: 90vw;
  }


  .tab-content {
    line-height: 1.7;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10rem;
  }

  .tab-images, img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
  }

  .terms {
    margin: 2rem 1rem 2rem 1rem;
  }
  .list-facts {
    list-style: none;
    text-align: center;
    margin: 0 auto;
  }


  #fact, #fact > i {
    padding: 1rem;
  }


  #dog, #car {
    height: 100px;
    width: auto;
  }

  #spacex {
    height: 150px;
    width: auto;
  }

  #dog, #car, #spacex {
    transition: all 0.1s ease;
  }

#dog:hover, #car:hover, #spacex:hover {
  cursor: pointer;
  height: auto;
  width: 100vw;
}
  #hypothesis > p {
    margin: 0 2rem 5rem 2rem;
  }

  #o {
    margin: 0 2rem 2rem 2rem;
  }

  #o i {
    font-size: 1rem;
    padding: 0.5rem;
  }

.mat-list {
  margin: 0 2rem 4rem 2rem;
}

#materials .fas {
  font-size: 1rem;
  padding: 0.5rem;
}

#materials li {
  margin-bottom: 2rem;
  transition: none;
}

#materials li:hover {
  cursor: none;
  transform: none;
}

#conclusion {
  width: 90%; 
}

#conclusion p {
  margin: 0 2rem 2rem 2rem;

}

iframe {
  width: 240px;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
}

@media screen and (max-width: 960px) {
  .tab-images {
    display:flex;
    flex-direction: column;
  }
  
  #intro {
    width: 90%;
  }

  #hypothesis > p {
    margin: 0 2rem 5rem 2rem;
  }

  #o {
    margin: 0 2rem 2rem 2rem;
  }

  #o i {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .steps {
    margin: 0 2rem 0 2rem;
  }

  .mat-list {
    margin: 0 2rem 4rem 2rem;
  }

  #materials .fas {
    font-size: 1.25rem;
    padding: 1rem;
  }

  #materials li {
    margin-bottom: 2rem;
    transition: none;
  }

  #materials li:hover {
    cursor: none;
    transform: none;
  }

  #conclusion p {
    margin: 0 3rem 2rem 3rem;
  }

  iframe {
    width: 90%;
    height: 200px;
    margin: 5rem 1rem 5rem 1rem;
  }
}

@media screen and (max-width: 1440px) {
  .tab-images {
    display: flex;
    flex-direction: column;
  }
  #conclusion p {
    margin: 0 3rem 2rem 3rem;
  }

  iframe {
    width: 90%;
    height: 300px;
    margin: 5rem 2rem 5rem 2rem;
  }
}
